header.global {
  background-color: #0066ff;
  color: white;
  padding: 10px 0;
  position: relative;
  &:after {
    @include background-gradient-vertical(rgba(0,0,0,0), rgba(0,0,0,0.15));
    bottom: 0;
    content: '';
    height: 30px;
    left: 0;
    position: absolute;
    right: 0;
  }
  h1 {
    margin: 0;
  }
  nav {
    float: right;
    padding-top: 10px;
    li {
      display: inline-block;
      text-transform: uppercase;
      font-size: 0.8em;
      &.link-settings {
        a {
          @extend .hidden-text;
          background: url(../img/settings.png) no-repeat;
          display: block;
          position: relative;
          height: 29px;
          top: -8px;
          width: 30px;
        }
      }
    }
  }
}
.settings {
  background: #55bbff;
  padding-bottom: 20px;
  label.block {
    display: block;
    padding-top: 10px;
  }
  input[type=submit] {
    margin-top: 10px;
  }
}
.off {
  color: red;
  font-weight: bold;
}
.on {
  color: green;
  font-weight: bold;
}
.current {
  border: 1px solid #ccc;
  border-radius: 5px;
  float: right;
  padding: 20px;
  width: 200px;
  div+div {
    margin-top: 10px;
  }
}
.tub-time {
  padding-bottom: 20px;
  position: relative;
  label {
    display: inline-block;
    margin-bottom: 15px;
    width: 120px;
  }
  .date,
  .time {
    .touch & {
      display: none;
    }
  }
  .datetime {
    display: none;
    .touch & {
      display: block;
    }
  }
  input[type=submit] {
    margin: 10px 0 0 216px;
    &[name=delete] {
      position: absolute;
      bottom: 20px;
      margin: 0;
      left: 40px;      
    }
  }
  input[type=button] {
  }
}

@media screen and (max-width : 660px) {
  .current {
    float: none;
    margin-top: 20px;
    width: 290px;
  }
}

@media screen and (max-width : 400px) {
  .current {
    width: auto;
  }  
  .tub-time {
    label {
      display: block;
      margin-bottom: 5px;
      margin-top: 15px;
      width: auto;
    }
    input[type=text],
    input[type=datetime],
    input[type=datetime-local] {
      width: 100%;
    }
    input[type=submit] {
      float: right;
      margin-left: 0;
    }
  }
}


/* Retina adjustments */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {  
  header.global nav li.link-settings a {
    background: url(../img/settings-hd.png) no-repeat;
    background-size: 29px 30px;
  }
}