header.global {
  background-color: #0066ff;
  color: white;
  position: relative;
  &:after {
    @include background-gradient-vertical(rgba(0,0,0,0), rgba(0,0,0,0.15));
    bottom: 0;
    content: '';
    height: 30px;
    left: 0;
    position: absolute;
    right: 0;
  }
  h1 {
    margin: 0;
  }
}
.settings {
  background: #55bbff;
  padding-bottom: 10px;
  label.block {
    display: block;
    padding-top: 10px;
  }
}