.limiter {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 20px;
}
a {
  color: inherit;
  text-decoration: none;
}
h2 {
  font-size: 1.3em;
  font-weight: normal;
}
.hide {
  display: none;
}
.borderbox { @include border-box(); }
input[type=text] {
  height: 34px;
  width: 200px;
  @extend .borderbox;
  &.invalid {
    border: 1px solid red;
  }
}
input[type=submit] {
  height: 40px;
  padding: 0 40px;
}